<div class="container"> 
    <div class="form-group">
        <label ><strong>Number to convert</strong></label>
        <input id="inputFormControl" type="number" class="form-control" [formControl]="inputFormControl"  placeholder="inputNumber">
    </div>
    <div>
        <button (click)= "submitNumber()" class="btn btn-primary">Convert</button>
    </div>
</div>
