<div>
<div class="container">
    <h2>Already converted values : </h2>
    <div  *ngFor="let result of results" >
        <div class="result-content">
            {{result.numberToConvert}} and the result  {{result.result}}
        </div>
    </div>
</div>
<app-foo-bar-quix-form (submitNumberOutput)="convertNumber($event)"></app-foo-bar-quix-form>
</div>